@tailwind base;
@tailwind components;
@tailwind utilities;
.social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  color: white;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.social-icon:hover {
  transform: scale(1.2);
}

.footer-link {
  color: #6b7280; /* Tailwind Gray-400 */
  cursor: pointer;
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
}

.footer-link:hover {
  color: #374151; /* Tailwind Gray-700 */
}
@media (max-width: 350px) {
  nav {
    flex-direction: row;
  }
  .px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  #sidebar {
    transition: transform 0.3s ease-in-out;
  }
}
